
	<button type="submit" value="save" class="btn btn-success">储存</button>
	<button type="button" class="btn btn-warning"><a href="{{ stack.self }}"><b>取消</b></a></button>
	</form>
	{% include 'floor.html' %}